.role-form-card {
    padding: 20px;
}

.btn-space-role {
    padding-top: 8px;
}

.list-role-title {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.btn-add-role {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

span {
    padding-left: 5px;
}