.display-5 {
    padding-top: 50px;
}

.btn-create-tournament {
    padding: 10px;
}

.menu-sign-up-space {
    padding-left: 10px;
}

.btn-signup-free {
    padding: 10px;
}

.sign-up-free-section {
    padding-bottom: 100px;
}

.top-rank-section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.top-rank {
    padding: 20px;
}

.community-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

body {
    background-color: #ffffff;
}