.tournament-list-title {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.btn-add-tournament {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.btn-list-tournament-action {
    padding-left: 5px;
}

.btn-action-form-tournament-space {
    padding-left: 5px;
}