.category-list-title {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.search-category {
    padding-top: 98px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.category-form-card {
    padding: 20px;
}

span {
    padding-left: 5px;
}