.btn-create-your-tournament {
    background-color: #1b8eb7;
    padding: 15px;
    border-radius: 3px;
    color: #ffffff;
}

.btn-create-your-tournament:hover {
    color: #ffffff;
    background-color: #1b8ec7;
}