.eo-form-card {
    padding: 20px;
}

.btn-eo-action-space {
    padding-top: 8px;
}

.eo-list-title {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.btn-add-eo {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

span {
    padding-left: 5px;
}

.search-eo {
    padding-top: 98px;
    padding-right: 20px;
    padding-bottom: 20px;
}