.user-form-card {
    padding: 20px;
}

.user-btn-space {
    padding-bottom: 6px;
}

.btn-add-user {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.data-title {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

span {
    padding-left: 5px;
}